# Folders #
###########
Coded/*.coded

# System Files #
################
.directory

# Compiled source #
###################
*.o

# Documentation content #
#########################
documentation/html/[^.]*
documentation/man/[^.]*
documentation/latex/[^.]*
documentation/rtf/[^.]*
