# Folders #
###########
Coded/*.coded
_Codificador/codvector
Decoded/*

# System Files #
################
.directory

# Compiled source #
###################
*.o
*.out

# Documentation content #
#########################
documentation/html/[^.]*
documentation/man/[^.]*
documentation/latex/[^.]*
documentation/rtf/[^.]*
